
Description=etcd
Documentation=https://github.com/etcd-io/etcd

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name NODE_NAME \
  --initial-advertise-peer-urls http://NODE_IP:2380 \
  --listen-peer-urls http://NODE_IP:2380 \
  --listen-client-urls http://NODE_IP:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://NODE_IP:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster controller-1=http://CONTROLLER_1_IP:2380,controller-2=http://CONTROLLER_2_IP:2380,controller-3=http://CONTROLLER_3_IP:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
#  we're setting this much lower to make it faster to configure the cluster initially
TimeoutStartSec=5s

[Install]
WantedBy=multi-user.target
